/* ------------------fonts for style --------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    padding-top: 0;
}

/*------------------ cover page style----------------------  */
.cover-container{
    height:400px;
    width:100%;
   
    
}
.cover-page{
    background-color: rgba(14, 14, 160, 0.829);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 5px;
    align-items: center;
   
}
.cover-title{
     margin: 207px 102px 240px 156px; 
    
}

.cover-title h1{
      font-size: 64px;
      font-weight: 700;
      color: #FFFFFF;
      
}
.cover-title h1:hover{
         color: lawngreen;
}
.cover-title span{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #E02C6D; 
    height: 44px;
    width: 168px;
    padding: 10px 40px;
    align-items: center;
}
.cover-title span i{
         margin-left:5px;
}
.cover-image img{
    width:556px;
    height:438px;
     margin: 153px 140px 86px 104px; 
}
.cover-image img:hover {
    background-color: rgba(34, 252, 27, 0.938);
}
/* -----------------------------players details styles----------------------------- */
main{
  margin-top: 70px;
}
.container{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 430px;
            padding-left: 180px;
            padding-right: 210px;
}
.player-details{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 30px;
            
}
.players{
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    width:330px;
    height:474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border: 1px solid #FFFFFF;
   margin-bottom: 27px;
}

.player-image img{
    height:256px;
    width:300px;
    align-items: center;
    justify-content: center;
    margin:15px 15px 0px 15px;
}
.player-info{
    align-items: center;
    justify-content: center;
    padding:0px 15px 15px 15px;
}
.player-name{
    color:  #18191F;
    font-size: 28px;
    font-weight:bolder;
}
.player-info p{
    color:#6C6C6C;
    font-size: 16px;
    
}
  /*----------------------- buy ticket log in form styles------------------- */
.form-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ticket-form{
     background-color: rgb(6, 6, 112);
     height: 350px;
     width:1200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgb(89, 0, 255);
   
}
.form-font{
    margin-left: 90px;
}
.ticket-form  h1{
     font-size: 40px;
     color:rgb(252, 248, 247);
}
.ticket-form  h2{
 font-size:16px;
 font-weight: bolder;
 color: rgb(58, 224, 188);
}
.ticket-form button{
     border-radius: 10px;
     border:3px solid black;
     height: 50px;
     width:120px;
     color: cyan;
     font-size: 16px;
     font-weight: bolder;
     background-color: darkred;


}
 
/* --------------------------------football details -------------------------- */
.detail-container{
           
    display: flex;
    align-items: center;
    justify-content: center;
}
.football-details h1{
        font-size: 28px;
        font-weight:bolded;
    }
    .football-details p{
        font-size: 16px;
    }

.details{
    height:750px;
    width:1500px;
    border:5px solid;
    border-radius: 10px;
    position: relative;
    margin:10px;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
}
  .image{
      width: 100%;
      border-radius: 10px;
  }
  .image-details{
          display: flex;
          align-items: flex-start;
          position: absolute;
          width:200px;
          border:2px solid indigo;
          height:800px;
          background-color: indigo;
          border-radius: 10px;
          color: rgb(181, 215, 247);
}
 
 .image-details h3{
     font-size: 28px;
     color: rgb(250, 252, 250);
}

.image-details span{
    margin-top: 700px;
    color: lavenderblush;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: rgba(107, 13, 214, 0.918);
    font-size: 15px;
}


/* ---------------------footer styles------------------------------ */
footer{
         margin-top: 165px;
         margin-bottom: 56px;
         display: flex;
        justify-content: center;
         align-items: flex-start;
        
}
.footer-image img{
    width:484px;
    height:110px;
}
.footer-icon {
    margin-left: 157px;
}
.footer-icon i{
    
      color: rgb(75, 65, 65);
      border: 8px solid rgb(228, 217, 217);
      border-radius: 50px;
      background-color: rgba(230, 211, 211, 0.918);
      font-size: 15px;
      margin-right: 10px;
}
.footer h2{
    margin-left: 123px;
    font-size: 18px;
    font-weight: 400;
}
/*------------------------------- meda queries for responsive site -------------- */
/* ---------------for mobile devices-----------------  */

@media screen and (max-width:688px){
    .cover-container{
        width:1000px;
        height:1000px;
       
    }
    .cover-page{
       grid-template-columns: repeat(1,1fr);

    } 
    .container{

    padding-left: 300px;
    padding-right: 300px;
}
    .player-details{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        
    }
    .players{
        height:650px;
        width:650px;
        justify-content: center;
        align-items: center;
    }
    

}